@import './src/scss/palettes/_dark-liver';

$dark-theme-primary: mat-palette($dark-liver);
$dark-theme-accent: mat-palette($mat-grey, A200, A100, A400);
$dark-theme-warn: mat-palette($mat-red);

$dark-theme: mat-dark-theme(
    $dark-theme-primary,
    $dark-theme-accent,
    $dark-theme-warn
);