$default-theme-primary: mat-palette($cinnabar);
$default-theme-accent: mat-palette($mat-grey, A200, A100, A400);
$default-theme-warn: mat-palette($mat-red);

$default-theme: mat-light-theme(
    $default-theme-primary,
    $default-theme-accent,
    $default-theme-warn
);