/* ---------------------- variables.scss
1. General
2. Colors
3. Grid Breakpoints
 ------------------------------------ */

@import '~@angular/material/theming';

/**
 * 1. General
 */
$browser-context: 16;

/**
 * 2. Colors
 */

/**
 * 3. Grid Breakpoints
 */
$mq-unit: "px";
$breakpoints: (
    mobile-portrait: 320,
    mobile-landscape: 480,
    tablet-portrait: 768,
    tablet-landscape: 1024,
    desktop: 1382
);