$cinnabar: (
    50 : #fbe9e7,
    100 : #f5c8c4,
    200 : #eea49d,
    300 : #e78075,
    400 : #e16458,
    500 : #dc493a,
    600 : #d84234,
    700 : #d3392c,
    800 : #ce3125,
    900 : #c52118,
    A100 : #fff8f8,
    A200 : #ffc7c5,
    A400 : #ff9692,
    A700 : #ff7e79,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

